@{
    ViewData["Title"] = "Edit Profile";
    Layout = "~/Views/Shared/_Main.cshtml";
} 

@model IEnumerable<okr.Models.Database.User>
<div>
    @foreach (var item in Model)
    {
        <li>@item.FirstName</li>
    }
</div>