@{
    ViewData["Title"] = "Edit Profile";
    Layout = "~/Views/Shared/_Main.cshtml";
} 

@model okr.Models.ViewModel.UserViewModel
<div>@Model.FirstName @Model.LastName</div>
<div>@Model.Email</div>

<div>
    <h1>
        Holla
    </h1>
</div>